# Backup service for wordpress directory

[Unit]
Description=Backups wordpress directory

[Service]
Type=simple
ExecStart=/usr/local/wordpress-backup.sh

[Install]
WantedBy=multi-user.target
